@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  height: 100%;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  vertical-align: top;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation {
  display: flex;
}

.logo {
  margin-left: 70px;
  position: relative;
  margin-bottom: -6px;
}

.navigation-item {
  list-style-type: none;
  margin-top: 20px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  margin: 0;
  padding: 20px 16px;
}

.navigation-home {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
}

.glass {
  min-width: 44px;
  min-height: 64px;
}

.heart {
  min-width: 44px;
  min-height: 64px;
}

.button-entry {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 34px;
  margin: 0;
}

.main-container {
  flex-grow: 1;
}

.welcome-content {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/gallary/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-content-logo {
  display: block;
  margin: 0 auto;
}

.intro {
  text-align: center;
}

.intro-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 69px;
  margin-bottom: 25px;
}

.into-advantages {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 69px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 102px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  list-style-type: none;
}

.fone {
  width: 800px;
  height: 385px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-top: 62px;
}

.advantages-description-color {
  margin-top: 62px;
}

.background-basic-3 {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.background-second-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.description-color {
  color: #333333;
}

.background-second-2 {
  background-color: #83B3D333;
}

.appeal-titel {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 64px;
}

.appeal-intro {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 64px;
}

.attractions-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  align-content: stretch;
  text-align: center;
}

.attractions-item {
  width: 400px;
  height: 385px;
  list-style-type: none;
  padding-top: 51px;
}

.attractions-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 59px;
}

.hotel-search-date {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 54px;
}

.button-search {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  background-color: #756157;
  display: block;
  padding: 8px 50px;
  margin: 54px 412px 96px 412px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 96px;
}

.subscribe {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/gallary/fone-main.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 auto;
}

.subscribe-info {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.sending-form {
  display: flex;
}

.field {
  width: 452px;
  height: 52px;
  margin: 0;
  padding: 0;
  margin-left: 252px;
  margin-top: 54px;
  border: none;
  background-color: #F2F2F2;
}

.button-hotel-search {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background-color: #82B3D3;
  width: 232px;
  height: 52px;
  border: none;
  margin-top: 54px;
  margin-bottom: 104px;
}

.link {
  color: #000000;
  background-color: #ffffff;
}

.page-footer {
  display: flex;
  padding: 0;
  margin: 40px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 142px;
  height: 40px;
}

.footer-contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  width: 720px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-left: 42px;
}

.footer-logo-htmlacademy {
  margin-left: auto;
}

.catalog-inner {
  color: #ffffff;
  background-image: url("../images/gallary/fone-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
  padding-top: 35px;
  padding-bottom: 70px;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-left: 70px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-item-home {
  width: 13;
  height: 15;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  list-style-type: none;
}

.breadcrumbs-item-arrow {
  width: 8;
  height: 20;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  list-style-type: none;
}

.breadcrumbs-link {
  padding: 15px 15px;
  margin: 0;
}

.catalog-filter {
  display: flex;
  padding: 0;
  margin-top: 40px;
}

.catalog-filter-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}


.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-top: 32px;
  width: 151px;
}

.catalog-filter-item {
  margin-top: 16px;
}

.price {
  width: 288px;
  height: 104px;
  margin-left: 140px;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button-catalog {
  display: block;
  margin-left: 70px;
}

.button-apply {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  width: 191px;
  height: 36px;
  border: none;
  margin-top: 56px;
}

.button-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  width: 191px;
  height: 36px;
  border: none;
}

.search-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}

.search-hotels {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  width: 1200px;
  height: 49px;
}

.select-control {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  height: 49px;
  padding-left: 20px;
  margin-left: 200px;
  margin-right: 70px;
}

.button-light {
  margin: 0;
  padding: 0;
  display: block;
  color: #000000;
  text-align: center;
  width: 48px;
  height: 48px;
  margin-left: 8px;
  margin-top: 20px;
}

.hotel-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-top: 40px;
}

.hotel-card {
  list-style-type: none;
  margin-bottom: 20px;
  border: 1px solid #E6E6E6;
  padding: 20px;
}

.hotel-card:nth-child(3) {
  margin-right: 70px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.hotel-option {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  color: #333333;
  margin-top: 16px;
}

.prod-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}


.hotel-like-button {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #82B3D3;
  width: 140px;
  height: 36px;
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-top: 16px;
}

.hotel-card-button {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #756157;
  margin: 0;
  padding: 0;
  width: 140px;
  height: 36px;
  padding: 8px 26px;
}

.like {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #7DB54F;
  margin: 0;
  padding: 0;
  width: 140px;
  height: 36px;
  margin-left: 20px;
  margin-top: 16px;
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  text-align: center;
  width: 140px;
  height: 37px;
  margin-top: 16px;
  padding-top: 9px;
}

.icone-stars {
  margin: 0;
  padding: 0;
  width: 140px;
  height: 37px;
  margin-top: 16px;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 80px;
  margin-left: 70px;
  margin-bottom: 60px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 12px 24px;
  margin: 0 auto;
}

.pagination-item {
  list-style-type: none;
  margin-left: 8px;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-pass {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
}

.subscribe-info-catalog {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
